# Arquivos Python compilados e cache
*.py[cod]
__pycache__/
*.so

# Configurações de ambiente (ex: arquivos de variáveis de ambiente)
.env
local_settings.py

# Arquivos e diretórios de logs e depuração
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Banco de dados SQLite
db.sqlite3

# Diretórios de cache do Django
cache/
*.cache

# Diretórios de migrações do Django
**/migrations/
!**/migrations/__init__.py  # Mantenha o __init__.py para que o diretório seja considerado um pacote Python



# Arquivos gerados automaticamente (CSS, JS, etc.)
*.min.js
*.min.css
*.map
*.bundle.js
*.bundle.css

# Diretórios de build do frontend
dist/
build/

# Node.js e pacotes relacionados
node_modules/

# VSCode e IntelliJ (IDE) arquivos de configuração
.vscode/
.idea/

# Arquivos de pacotes do Python (pipenv, poetry)
Pipfile
Pipfile.lock
poetry.lock

# Sistema operacional (ex: macOS e Windows)
.DS_Store
Thumbs.db

# Arquivos temporários e de backup criados pelo editor
*.swp
*.swo
*.bak
*~

# Ignorar arquivos de tradução compilados (ex: gettext)
*.mo
*.pot
