{% load static %}
{% csrf_token %}
<html></html>
<head>
    <title>Mãos que Criam</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&amp;display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
 </head>
<body>
    <header>
        <img class="tamanho" src="{% static 'imgs/logosemfundo.png' %}" alt="Imagem 1">
        <nav>
            <a class="cta" href="/admin/">
                Gestão de Doações
            </a>
            <a href="#">
                Pontos de Coleta
            </a>
            <a href="/feedbackdoador/">
                Feedback do Doador
            </a>
            <a href="#">
                Notificações de Necessidades
            </a>
            <a href="#">
                Relatórios de Impacto
            </a>
            <div class="dropdown">
                <a href="#">
                    Mais Histórias
                </a>
                <div class="dropdown-content">
                    <a href="#">
                        História 6
                    </a>
                    <a href="#">
                        História 7
                    </a>
                    <a href="#">
                        História 8
                    </a>
                    <a href="#">
                        História 9
                    </a>
                    <a href="#">
                        História 10
                    </a>
                </div>
            </div>
        </nav>
        <a class="cta" href="{% url 'register' %}">
            Entrar ou Cadastrar-se
        </a>
    </header>
    <br><br><br>
    <section class="hero">
        <div class="content">
            <h1>
                Doe e Faça a Diferença!
            </h1>
            <p>
                Somos uma loja de brinquedos artesanais infantis que emprega mulheres de comunidades periféricas. Nosso objetivo é oferecer uma solução de gestão de materiais doados, trazendo controle e transparência desde o início da cadeia de produção. Junte-se a nós para tornar a doação mais acessível!
            </p>
        </div>
        <div class="image">
            <!--icone de boneco urso -->
            <img alt="icone urso boneco" height="500" src="https://cdn-icons-png.flaticon.com/512/5002/5002251.png" width="500"/>
        </div>
    </section>
    <br><br><br>
    <section class="episodes">
        <h2>
            Por que Escolher a Fábrica de Ideias ?
        </h2>
        <br><br>
        <div class="episode-list">
            <div class="episode">
                <i class="fas fa-fist-raised"></i>
                <div class="details">
                    <h3>
                        Empoderamento Feminino
                    </h3>
                    <p>
                        Ao adquirir produtos, você apoia a capacitação de mulheres em situação de vulnerabilidade, proporcionando-lhes habilidades e oportunidades de emprego. Sua compra ajuda a transformar vidas e a fortalecer a comunidade.
                    </p>
                </div>
            </div>
            <div class="episode">
                <i class="fas fa-leaf"></i>
                <div class="details">
                    <h3>
                        Sustentabilidade e Reciclagem
                    </h3>
                    <p>
                        Os brinquedos são feitos a partir de resíduos têxteis recicláveis, promovendo a economia circular. Ao escolher esses produtos, você contribui para a redução de desperdício e para um futuro mais sustentável.
                    </p>
                </div>
            </div>
            <div class="episode">
                <i class="fas fa-heart"></i>
                <div class="details">
                    <h3>
                        Soluções Inovadoras com Sensibilidade
                    </h3>
                    <p>
                        Danielle busca soluções tecnológicas humanizadas, unindo marketing eficaz à missão social da empresa. Ao apoiar essa iniciativa, você se junta a uma causa que valoriza tanto o progresso quanto a empatia pela comunidade, fazendo parte de um movimento que transforma o mercado e a sociedade.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <br><br><br><br><br><br>
    <div class="container">
        <div class="hero2">

            <img class="tamanho1" src="{% static 'imgs/danielle.jpg' %}" alt="Imagem 1">
           
            <div class="hero2-content">
                <span class="badge">
                    Sobre a Fundadora
                </span>
                <h1>
                    Danielle Gomes e sua missão de transformar vidas através do brincar educativo
                </h1>
                <p>
                    Danielle Gomes é psicopedagoga, artesã e fundadora da Fábrica de Ideias, uma empresa de brinquedos educativos feitos com resíduos têxteis recicláveis. Seu trabalho capacita mulheres em situação de vulnerabilidade, oferecendo oficinas e aulas para promover sua autonomia. 
                </p>
                <p>
                    Ela acredita que o brincar tem um papel essencial no desenvolvimento humano, sendo uma atividade séria e transformadora em qualquer fase da vida. 
                </p>
            </div>
        </div>
        <br><br><br><br>
        <div class="features">
            <h2>
                Destaques que Tornam Nossos Brinquedos Únicos
            </h2>
            <div class="feature-cards">
                <div class="feature-card">
                    <img alt="Icone de uma mão" height="50" src="https://cdn-icons-png.flaticon.com/512/10655/10655721.png" width="50"/>
                    <h3>
                        Estimulação Sensorial
                    </h3>
                    <p>
                        Brinquedos que incentivam o desenvolvimento sensorial, permitindo que as crianças explorem diferentes texturas, cores e formas. 
                    </p>
                </div>
                <div class="feature-card">
                    <img alt="show de fantoches" height="50" src="https://cdn-icons-png.flaticon.com/512/1036/1036606.png" width="50"/>
                    <h3>
                        Aprendizagem Lúdica
                    </h3>
                    <p>
                        Projetados para ensinar enquanto divertem, nossos brinquedos ajudam a desenvolver habilidades cognitivas e emocionais de forma natural.
                    </p>
                </div>
                <div class="feature-card">
                    <img alt="Selo de qualidade" height="50" src="https://cdn-icons-png.flaticon.com/256/12236/12236704.png" width="50"/>
                    <h3>
                        Durabilidade e Qualidade
                    </h3>
                    <p>
                        Feitos para durar, nossos brinquedos são resistentes e seguros, ideais para o uso contínuo no desenvolvimento infantil.
                    </p>
                </div>
                <div class="feature-card">
                    <img alt="diversidade" height="50" src="https://cdn-icons-png.flaticon.com/512/8034/8034824.png" width="50"/>
                    <h3>
                        Inclusão e Diversidade
                    </h3>
                    <p>
                        Produtos que valorizam a inclusão, criados para todas as crianças, independentemente de suas necessidades especiais ou limitações.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="about">
            <h3>Sobre a plataforma:</h3>
            <p>Mãos que Criam compartilha histórias de empreendedorismo sustentável e impacto social,<br>promovendo capacitação e economia circular.</p>
        </div>
        <div class="contact">
            <h3>Contato:</h3>
            <p>Para dúvidas ou sugestões, entre em contato.</p>
            <p>Email: contato@maosquecriam.com</p>
            <p>Telefone: (11) 1234-5678</p>
        </div>
    </div>
</body>
</html>
